.App {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.signup-form {
    width: 300px;
}

.signup-form div {
    border: none;
    display: flex;
    flex-direction: column;
}

.signup-form div .textfield {
    margin: 0 10px;
}