.root {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

.input-styles {
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    background: transparent;
    outline: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-color: gray;
    color: rgb(156 163 175);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.span-styles {
    width: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    background: #9ca3af;
}