* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "epilogue";
  font-size: 1rem;
}
@media screen and (min-width: 760px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: white;
    color: rgb(19, 19, 20);
    width: 100vw;
    margin-bottom: auto;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(143, 142, 142);
  }
  .logo {
    font-size: 30px;
  }
  .nav-links {
    display: flex;
    /* justify-content: flex-end; */
    list-style: none;
    width: 75%;
  }
  .nav-links .nav-link {
    padding-right: 40px;
    text-decoration: none;
  }
  .mobileview {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .navbar {
    width: 100%;
  }
  .logo {
    display: flex;
    /* position: absolute; */
    top: 25px;
    left: 10px;
    font-size: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav {
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(143, 142, 142);
    margin-bottom: 5000px;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: aliceblue;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .nav-link {
    display: block;
    padding: 5px;
    margin-left: 50%;
  }
  .mobileview {
    margin-bottom: 1000px;
    display: block;
    position: absolute;
    font-size: 30px;
    top: 15px;
    right: 25px;
  }
}
