* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "epilogue";
  font-size: 1rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25px;
  left: 10px;
  font-size: 35px;
}
/* img {
  height: 26px;
  width: 175px;
} */
.nav-links {
  display: flex;
  justify-content: flex-end;
}
.nav {
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(143, 142, 142);
  margin-bottom: 5000px;
}
.underline {
  height: 10px;
  transition: all 300ms ease;
}
.nav-links-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: transition transparent; */
  backdrop-filter: blur(25px);
  /* left: 0; */
  top: 13vh;
  transition: all 0.5s linear;
  translate: -100vh;
  width: 100%;
}
.icon-active {
  translate: 0;
  transition: all 0.5s linear;
}
.nav-link-mobile {
  margin: 13px 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-link {
  width: 80px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileview {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: white;
    color: rgb(19, 19, 20);
    width: 100vw;
    margin-bottom: auto;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(143, 142, 142);
  }
  .logo {
    font-size: 30px;
  }
  .nav-links {
    display: flex;
    cursor: pointer;
    /* justify-content: flex-end; */
    list-style: none;
    width: 75%;
  }
  .nav-links .nav-link {
    padding-right: 40px;
    text-decoration: none;
    display: none;
  }
  .mobileview {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1000px;
    display: block;
    position: absolute;
    font-size: 30px;
    top: 15px;
    right: 25px;
  }
}
