.icon-wrapper {
  display: inline-block;
  border-radius: 70%;
  padding: 0.4em 0.65em;
  /* background-color: #f3fbf6; */
}

.alignment {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  height: 30px;
  width: 200px;
}

#change {
  text-decoration: none;
  color: black;
}